TF_VAR_aws_region=ap-southeast-1
TF_VAR_aws_profile=default

TF_VAR_project_tag=yomu-achievement
TF_VAR_env_tag=staging
TF_VAR_instance_name=yomu-achievement-staging
TF_VAR_security_group_name=yomu-achievement-sg

TF_VAR_ami_id=ami-00000000000000000
TF_VAR_instance_type=t3.micro
TF_VAR_key_pair_name=
TF_VAR_root_volume_gb=16

TF_VAR_vpc_id=
TF_VAR_subnet_id=
TF_VAR_existing_security_group_id=
TF_VAR_open_ports_csv=22,8082

TF_VAR_assign_eip=true
TF_VAR_existing_eip_allocation_id=
